.plant-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
}

.plant-info__img {
  display: inline-block;
  justify-content: center;
  width: 300px/1110px * 100%;
}

.plant-info__text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.plant-info__requirements {
  margin-bottom: 15px;
}

.plant-info__subtitle {
  font-size: 1.2rem;
  font-weight: 700;
}
