.edit-plant-container{
  display: flex;
  justify-content: center;
}

.plant-edit-form{
  margin-top: 40px;
}

.form-group{
  margin-top: 10px;
}

.edit-plant-container__button-block{
  text-align: end;
}