.user-authorized {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: #fff;
  margin-right: 15px;

  a {
    color: #fff;
  }
}

.order-button {
  margin-left: 10px;
}


.navbar-button {
  margin-right: 10px;

  a {
    color: #fff;
    transition: .2s linear;
  }

  a:hover {
    border-bottom: 1px;
    color: #e0e9ff;
  }
}

.logout-button {
  margin-left: 20px;
}

.navbar {
  font-size: 22px;
}

.order-button__image {
  height: 38px;
  width: 38px;
}